import /init.recovery.qcom_decrypt.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on init
    write /proc/touchpanel/double_tap_enable 1
    write /sys/class/power_supply/usb/otg_switch 1

    setprop ro.board.platform msm8937

on boot
    start health-hal-2-1

on boot
    write /sys/bus/cpu/devices/cpu2/online 0
    write /sys/bus/cpu/devices/cpu3/online 0
    write /sys/bus/cpu/devices/cpu4/online 0
    write /sys/bus/cpu/devices/cpu5/online 0
    write /sys/bus/cpu/devices/cpu6/online 0
    write /sys/bus/cpu/devices/cpu7/online 0
